.blog {

    > .title_h1,
    > .title_h2,
    > p,
    > ul,
    .blog_infos {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
    }

    &_infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem 2rem;

        ul {
            padding: 0;
            margin: 0;
            display: inline-flex;
            gap: 0 1em;
            flex-wrap: wrap;
        }
    }

    &_pic {
        margin: 4rem 0;
    }

    &_highlight {
        background-color: #fff;
        padding: 2rem;
        border-radius: 1rem;
        font-style: italic;
    }
}