.blog {
  > .title_h1,
  > .title_h2,
  > p,
  > ul,
  .blog_infos,
  .blog_bloc {
    max-width: 80rem;
    margin-inline: auto;
  }

  &_infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 2rem;

    ul {
      padding: 0;
      margin: 0;
      display: inline-flex;
      gap: 0 1em;
      flex-wrap: wrap;
    }
  }

  &_pic,
  &_video {
    margin-block: var(--gutter);
  }

  &_video {
    padding: 56.25% 0 0 0;
    position: relative;
  }

  &_highlight {
    background-color: light-dark(#fff, rgba(#fff, 0.1));
    color: $scheme-dl;
    padding: 2rem;
    border-radius: 1rem;
    font-style: italic;
  }
}
