@import "global/include-media";
@import "global/breakpoint";
@import "global/variables";
@import "global/mixin";

::selection {
	background-color: #000;
	color: #fff;
}

::-moz-selection {
	background-color: #000;
	color: #fff;
}

html {
	font-size: 0.625em;
}

body {
	margin: 0;
	font-family: 'Inter',sans-serif;
	font-size: 1.6rem;
	line-height: 1.5em;
}

@import "global/tpx";
@import "global/general";

// GLOBAL
@import "global/animation"; 

// STRUCTURE
@import "structure/cv";

// QUERIES
@import "queries/queries"; 